* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --azure: #0084fd;
    --purple: #9792e4;
    --white: #ffffff;
    --lightblue: #b5ddff;
    --sectionpad: 50px 0;
    --darkgray: #333333;
    --divpad: 30px 20px;
}

.white {
    color: white;
}

.bwhite {
    background-color: white;
}

.black {
    color: black;
}

img {
    width: 100%;
}

.flexbox {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    width: 60%;
    margin: auto;
    padding-right: 15px;
}

section {
    padding: var(--sectionpad);
}

.center {
    text-align: center;
}
