@media screen and (max-width: 768px) {
    .container,
    .topbar,
    .container-less1,
    .less-left,
    .less-right,
    .text-box1,
    .img-box1  {
        width: 100%;
    }

    .card.bwhite {
        width: 50%;
    }

    .container-less1, #aboutus > .container {
        flex-wrap: wrap;
    }

    .topbar {
        padding: 20px;
    }

    .topbar-links {
        display: none;
    }
    
    .hamburger {
        display: block;
    }

    .container {
        padding-left: 15px;
    }

    .img-less-right {
        position: static;
    }

    .less-right {
        margin: 0;
    }

    .container-less1 {
        padding: 0 15px;
    }
}

@media screen and (max-width: 390px) {
    .container,
    .topbar,
    .container-less1,
    .less-left,
    .less-right,
    .card,
    .card-left,
    card-right,
    #big {
        width: 100%;
    }

    .card.bwhite {
        width: 100%;
    }

    .container-less1,
    #big {
        flex-wrap: wrap;
    }

    .topbar-links {
        display: none;
    }
    
    .hamburger {
        display: block;
    }
}